<template>
  <div class="Archive">
    <div class="Archive-header">
      <div class="Archive-reference">
        <div class="Archive-titleBold">{{ titleBold }}</div>
        <div class="Archive-titleBig">{{ titleBig }}</div>
        <div class="Archive-light">{{ image.author }}</div>
      </div>
    </div>
    <div class="Archive-content">
      <div class="Archive-imageContainer">
        <img class="Archive-image" :src="image.image" :alt="image.title">
      </div>
      <div class="Archive-description">
        {{ image.description }}
        <br>
        <div v-show="field.value" v-for="(field, fidx) in fields" :key="fidx" class="Archive-field">
          <strong>{{ field.name }}</strong>
          <span>{{ field.value }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState({
      image: ({ images }) => images.item,
      titleBold: ({ images }) => (images.item.title || '').split(' ')[0],
      titleBig: ({ images }) => (images.item.title || '').split(' ').slice(1).join(' '),
      fields({ images }) {
        return Object.keys(images.item).map((key) => {
          if (['file', 'image', 'galleries', 'subjects', 'description', '__v', '_id', 'latlon'].includes(key)) {
            return null;
          }
          return {
            name: key,
            value: Array.isArray(images.item[key])?images.item[key].join(', '):images.item[key]
          }
        })
        .filter(val => !!val)
        ;
      }
    }),
  },
  created() {
    this.loadImage(this.$route.params.id);
  },
  methods: {
    ...mapActions({
      loadImage: "images/loadImage",
    }),
  },
};
</script>

<style lang="scss">
.Site {
  &-content {
    margin-top: 2em;
  }

  @media screen and (min-width: 768px) {
    &-content {
      max-width: 80vw;
      margin-left: 10vw;
      overflow-x: hidden;
    }
  }
}

.Archive {
  max-width: 80vw;
  margin-left: 10vw;
  overflow-x: hidden;

  &-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-text {
    border-bottom: 2px solid #000;
  }

  &-imageLink {
    box-shadow: 0 2px 2px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-actions {
    font-size: 10px;
    padding: 0.1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
  }
  &-actionIcon {
    padding-top: 5px;
    max-height: 15px;
  }

  &-text {
    padding: 0.3em 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
  }

  &-imageContainer {
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 300px;
  }

  &-description {
    margin: 1em 0;
    text-align: justify;
  }

  &-field {
    margin: 0.5em 0;
  }

  &-header {
    position: relative;
    margin-left: 1.5em;
    margin-bottom: 2em;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      border: 1px solid gray;
      bottom: -1em;
      left: -0.8em;
    }
  }

  &-titleBold {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 25px;
  }

  &-titleBig {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 40px;
  }

  &-light {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }

  @media screen and (min-width: 768px) {
    &-imageLink {
      flex-basis: calc(14%);
      max-width: 14%;
      margin: 0.5em;
    }

    &-imageContainer {
      max-height: 50%;
      width: 80%;
    }

    &-titleBold {
      font-family: Poppins;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 39px;
    }

    &-titleBig {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 48px;
      line-height: 72px;
    }

    &-light {
      font-family: Poppins;
      font-style: normal;
      font-weight: 500;
      font-size: 26px;
      line-height: 39px;
    }

    &-description {
      width: 80%;
    }
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc(33%);

    &-image {
      max-width: 20vw;
    }
  }
}
</style>
