<template>
  <section>
    <header class="Header">
      <NavigationMenu logoURL="/assets/avc.png" />
    </header>
    <br>
    <media-gallery :articles="avc1" />
    <!--
    <FloatingSocialNetworks />
    -->
    <Sponsors :sections="sponsors" />
    <Footer />
  </section>
</template>

<script>
import NavigationMenu from '@/components/NavigationMenu.vue';
import Footer from '@/components/Footer.vue';
import Sponsors from '@/components/Sponsors.vue';
import Carousel from '@/components/Carousel.vue';
import MediaGallery from '@/components/MediaGallery.vue';
import HorizontalLinks from '@/components/HorizontalLinks.vue';
import VerticalLinks from '@/components/VerticalLinks.vue';
import FloatingSocialNetworks from '@/components/FloatingSocialNetworks.vue';

const sponsors = [
  {
    title: 'en concertación con',
    organizations: [
      {
        image: '/assets/logo_mincultura.png',
        name: 'Proyecto ciudad Visual'
      },
      {
        image: '/assets/logo_alcaldia.png',
        name: 'Ciudad Latente'
      },
    ]
  },
  {
    title: 'un proyecto de',
    organizations: [
      {
        image: '/assets/logo_corp.png',
        name: 'Ciudad Latente'
      },
      {
        image: '/assets/logo_avc.png',
        name: 'Proyecto ciudad Visual'
      },
      {
        image: '/assets/logo_fc.png',
        name: 'Fundación cultura para el desarrollo'
      },
    ]
  },
  {
    title: 'nuestros aliados',
    organizations: [
      {
        image: '/assets/logoAGNC.png',
        name: 'Ciudad Latente'
      },
      {
        image: '/assets/logoMaestriaHistoria.png',
        name: 'Proyecto ciudad Visual'
      },
      {
        image: '/assets/logo_fc.png',
        name: 'Fundación cultura para el desarrollo'
      },
    ]
  }
];

const avc1 = [
  {
    title: 'Convite - Imagen 00',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 00.jpg',
    description: 'Imagen 00 del convite',
  },
  {
    title: 'Convite - Imagen 01',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 01.jpg',
    description: 'Imagen 01 del convite',
  },
  {
    title: 'Convite - Imagen 02',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 02.jpg',
    description: 'Imagen 02 del convite',
  },
  {
    title: 'Convite - Imagen 03',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 03.jpg',
    description: 'Imagen 03 del convite',
  },
  {
    title: 'Convite - Imagen 04',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 04.jpg',
    description: 'Imagen 04 del convite',
  },
  {
    title: 'Convite - Imagen 05',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 05.jpg',
    description: 'Imagen 05 del convite',
  },
  {
    title: 'Convite - Imagen 06',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 06.jpg',
    description: 'Imagen 06 del convite',
  },
  {
    title: 'Convite - Imagen 07',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 07.jpg',
    description: 'Imagen 07 del convite',
  },
  {
    title: 'Convite - Imagen 08',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 08.jpg',
    description: 'Imagen 08 del convite',
  },
  {
    title: 'Convite - Imagen 09',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 09.jpg',
    description: 'Imagen 09 del convite',
  },
  {
    title: 'Convite - Imagen 10',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 10.jpg',
    description: 'Imagen 10 del convite',
  },
  {
    title: 'Convite - Imagen 11',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 11.jpg',
    description: 'Imagen 11 del convite',
  },
  {
    title: 'Convite - Imagen 12',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 12.jpg',
    description: 'Imagen 12 del convite',
  },
  {
    title: 'Convite - Imagen 13',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 13.jpg',
    description: 'Imagen 13 del convite',
  },
  {
    title: 'Convite - Imagen 14',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 14.jpg',
    description: 'Imagen 14 del convite',
  },
  {
    title: 'Convite - Imagen 15',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 15.jpg',
    description: 'Imagen 15 del convite',
  },
  {
    title: 'Convite - Imagen 16',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 16.jpg',
    description: 'Imagen 16 del convite',
  },
  {
    title: 'Convite - Imagen 17',
    image:
      '/assets/content/fwdfotosconvitematecaa/CONVITE 17.jpg',
    description: 'Imagen 17 del convite',
  },
];

export default {
  name: 'Index',
  components: {
    Carousel,
    Footer,
    FloatingSocialNetworks,
    HorizontalLinks,
    MediaGallery,
    NavigationMenu,
    Sponsors,
    VerticalLinks,
  },
  data() {
    return {
      avc1,
      sponsors,
      horizontalLinks: [
        {
          icon: 'eye',
          name: 'Convocatorias'
        },
        {
          icon: 'eye',
          name: 'Formación'
        },
        {
          icon: 'eye',
          name: 'Permanentes'
        }
      ],
      verticalLinks: [
        {
          color: '#D6BB0C',
          name: 'Arte y Cultura'
        },
        {
          color: '#930689',
          name: 'Comer, beber y gozar'
        },
        {
          color: '#48A405',
          name: 'Vida sana y naturaleza'
        }
      ]
    };
  },
};
</script>

<style lang="scss">
.NavigationMenu {
  .Header & &-logo {
    height: calc(100px - 1em);
    width: auto;
  }
  @media screen and (min-width: 768px) {

  }
}
</style>
