<template>
  <section>
    <Carousel :contentItems="posts" />
    <div v-for="(posts, key) in morePosts" :key="key">
      {{ key }}
      <Carousel :contentItems="posts" :is-small="true" />
      <!--
      -->
    </div>
    <HorizontalLinks :links="horizontalLinks" />
    <VerticalLinks :links="verticalLinks" />
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import Carousel from '@/components/Carousel.vue';
import MediaGallery from '@/components/MediaGallery.vue';
import HorizontalLinks from '@/components/HorizontalLinks.vue';
import VerticalLinks from '@/components/VerticalLinks.vue';

const carousel1_data = [
  {
    id: 0,
    img: '/assets/content/carousel1/img1.png',
    label: '',
    title: '',
    place: 'El Corralito',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel1/img2.jpeg',
    label: 'music',
    title: 'Con bahareque y tapia pisada',
    place: '',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel1/img3.jpeg',
    label: 'dance',
    title: 'museos en línea 24H',
    place: 'El Corralito',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel1/img4.jpeg',
    label: 'cine',
    title: 'música colombiana',
    place: 'El Corralito',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel1/img5.jpeg',
    label: 'live',
    title: 'noches de serenata',
    place: 'El Corralito',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel1/img6.jpeg',
    label: 'cine',
    title: 'cine',
    place: 'El Corralito',
    time: new Date(),
  },
];

const carousel2_data = [
  {
    id: 0,
    img: '/assets/content/carousel2/img1.jpeg',
    label: 'music',
    title: 'Serrania en concierto',
    place: 'Kafé del alma',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel2/img2.jpeg',
    label: 'music',
    title: 'tango para todos',
    place: 'comfamiliar',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel2/img3.jpeg',
    label: 'dance',
    title: 'museos en línea 24H',
    place: 'comfamiliar',
    time: new Date(),
  },
  {
    id: 0,
    img: '/assets/content/carousel2/img4.jpeg',
    label: 'dance',
    title: 'música para todos',
    place: 'Comfamiliar',
    time: new Date(),
  },
];

const DATE_RE = /(?<day>\d{1,2}) de (?<month>\w+) del (?<year>\d{4})/;
const HOUR_RE = /(?<hours>\d{1,2}):(?<minutes>\d{1,2})\s+(?<ampm>[am|pm])/;

const MONTHS = {
  enero: 1,
  febrero: 2,
  marzo: 3,
  abril: 4,
  mayo: 5,
  junio: 6,
  julio: 7,
  agosto: 8,
  septiembre: 9,
  octubre: 9,
  noviembre: 11,
  diciembre: 12
}

function toTime(dateStr, timeStr) {
  const processed = dateStr.match(DATE_RE);
  const processed2 = (timeStr && timeStr.match(HOUR_RE)) || {};
  if (processed.groups) {
    const day = processed.groups.day;
    const month = MONTHS[processed.groups.month];
    const year = processed.groups.year;
    if (processed2.groups) {
      const hours = parseInt(processed2.groups.hours);
      const minutes = parseInt(processed2.groups.minutes);
      const ampm = processed2.groups.ampm;
      return new Date(`${year}-${month}-${day}T${ampm === 'pm' ? hours + 12 : hours}:${minutes}:00`);
    }
    return new Date(`${year}-${month}-${day}`);
  }
  return dateStr;
}

export default {
  name: 'Index',
  components: {
    Carousel,
    HorizontalLinks,
    VerticalLinks,
  },
  data() {
    return {
      datac1: carousel1_data,
      datac2: carousel2_data,
      morePosts: {},
      page: 1,
      horizontalLinks: [
        {
          icon: 'eye',
          name: 'Convocatorias'
        },
        {
          icon: 'eye',
          name: 'Formación'
        },
        {
          icon: 'eye',
          name: 'Permanentes'
        }
      ],
      verticalLinks: [
        {
          color: '#D6BB0C',
          name: 'Arte y Cultura'
        },
        {
          color: '#930689',
          name: 'Comer, beber y gozar'
        },
        {
          color: '#48A405',
          name: 'Vida sana y naturaleza'
        }
      ]
    };
  },
  computed: {
    ...mapState({
      posts: ({posts}) => {
        return posts.items
      }
    })
  },
  async created() {
    await this.loadPosts(this.page)
    for(let i=0; i<5; i++) {
      const posts = await this.getPosts({page:i, count:10});
      this.$set(this.morePosts, i, posts);
    }
  },
  methods: {
    ...mapActions({
      loadPosts: 'posts/loadPosts',
      getPosts: 'posts/getPosts'
    })
  }
};
</script>
