<template>
  <section class="Details">
    <div class="Details-content" v-html="contentInfo.content" />
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  data: () => ({
    contentInfo: {
      type: Object,
      default: () => ({})
    }
  }),
  computed: {
    ...mapState({
      posts: ({posts}) => posts.indexedItems
    })
  },
  async mounted() {
    await this.getPosts(1)
    console.log('OK, data loaded...');
    this.contentInfo = this.posts[this.$route.params.id];
    console.log(this.contentInfo);
  },
  methods: {
    ...mapActions({
      getPosts: 'posts/loadPosts'
    })
  }
}
</script>

<style lang="scss">
.Details {
  display: flex;
  justify-content: center;
  padding: 2em 0;

  &-content {
    flex-basis: 95%;
  }

  @media screen and (min-width: 768px){
    &-content {
      flex-basis: 60%;
    }
  }
}
</style>
