<template>
  <footer class="Footer">
    <div class="Footer-contactText">
      <h2 class="Footer-title">¡Contáctanos!</h2>
      <p
        class="Footer-text"
      >
        ¿Tienes alguna pregunta? <br>
        ¿Alguna idea para mejorar? <br>
        ¿Te interesa hacer parte de CIUDAD CULTURAL? <br>
        ¡Comunícate con nosotros!
      </p>
    </div>
    <form class="Footer-form">
      <div for class="Footer-field">
        <label class="Footer-fieldLabel" for>Nombre:</label>
        <input type="text" class="Footer-fieldInput" />
      </div>
      <div for class="Footer-field">
        <label class="Footer-fieldLabel" for>Correo:</label>
        <input type="email" class="Footer-fieldInput" />
      </div>
      <div for class="Footer-field">
        <label class="Footer-fieldLabel" for>Mensaje:</label>
        <input type="text" class="Footer-fieldInput" />
      </div>
      <div for class="Footer-field">
        <label class="Footer-fieldLabel" for>Dirigido a:</label>
        <input type="text" class="Footer-fieldInput" />
      </div>
      <div for class="Footer-actions">
        <button class="Footer-actionSubmit" type="submit">
          Enviar
          <i class="fa fa-arrow-right"></i>
        </button>
      </div>
    </form>
    <div class="Footer-location">
      <strong>CIUDAD CULTURAL</strong>
      <p>
        Avenida Circunvalar Nº 15-04. Enseguida de la iglesia San José,
        <br />frente al Hotel Movich
        <br />Teléfono: 3105027033
        <br />
      </p>
    </div>
  </footer>
</template>

<style lang="scss">
.Footer {
  position: relative;
  z-index: 50;
  &-contactText {
    padding-top: 0.1em;
    background-color: #676767;
    color: #fff;
  }

  &-form {
    background-color: #676767;
    color: white;
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
  }

  &-title,
  &-text {
    text-align: center;
  }

  &-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
  }

  &-text {
    padding: 0 0.5em;
  }

  &-field {
    display: flex;
    padding: 0.5em 0;
    margin: 0 1.5em;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid gray;
  }
  &-fieldLabel {
    flex-grow: 1;
  }
  &-fieldInput {
    flex-grow: 3;
    height: 1.5em;
    background-color: transparent;
    color: white;
    border: none;
    &:focus {
      background-color: white;
    }
  }
  &-actions {
    padding: 1em;
    text-align: center;
  }
  &-actionSubmit {
    font-size: 1em;
    text-transform: uppercase;
    line-height: 2em;
    background-color: white;
    color: gray;
    border: none;
    width: 60%;
  }
  &-location {
    font-family: Poppins;
    font-size: 11px;
    padding: 2em 1em;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    font-size: 16px;

    &-location,
    &-contactText {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }

    &-form,
    &-location,
    &-contactText {
      padding-top: 1em;
      flex-basis: 33%;
      text-align: center;
    }

    &-title {
      font-weight: bold;
      margin-bottom: 0.5em;
    }

    &-form {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 16px;
    }

    &-location {
      background-color: #676767;
      color: white;
      font-size: 16px;
    }
  }

  // @media screen and (min-width: 1024px) {
  //   position: fixed;
  //   bottom: 0;
  //   width: 100%;
  //   z-index: 150;
  // }
}
</style>
