<template>
  <section class="GalleryLink">
    <router-link :to="`/gallery/${gallery._id}`">
      <div class="GalleryLink-imageContainer">
        <img class="GalleryLink-image" :src="galleryImage" :alt="gallery.name">
      </div>
      <div class="GalleryLink-content">
        <h2 class="GalleryLink-title">
          {{ gallery.name }}
        </h2>
        <p class="GalleryLink-description">
          {{ gallery.description }}
        </p>
      </div>
    </router-link>
  </section>
</template>

<script>
export default {
  name: 'GalleryLink',
  props: {
    gallery: {
      type: Object,
      default: () => ({})
    }
  },
  computed: {
    galleryImage() {
      if (this.gallery && this.gallery.images.length) {
        return this.gallery.images[0].image;
      }
      return ''
    }
  }
}
</script>

<style lang="scss">
.GalleryLink {
  position: relative;
  margin: 1em 10%;
  box-shadow: 0 1px 4px gray;
  & a:hover,
  & a:visited {
    color: white;
  }
  &-imageContainer {
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
  }
  &-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 150vw;
    transition: all 0.2s ease-in-out;
  }
  &:hover &-image {
    filter: brightness(0.3) blur(3px);
  }
  &-content {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    text-align: center;
    box-sizing: border-box;
    padding: 0 0.5em;
    width: 100%;
  }
  &-title, &-description {
    color: white;
  }
  &-description {
    width: 100%;
    height: 2em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  @media screen and (min-width: 768px) {
    max-width: 30%;
    flex-basis: calc(33%);
    margin: 0.5em;
  }

  @media screen and (min-width: 1024px) {
    max-width: 30%;
    flex-basis: calc(33%);
    margin: 0.8em;

    &-imageContainer {
      max-height: 200px;
    }

    &-image {
      max-width: 50vw;
    }
  }
  @media screen and (min-width: 1280px) {

    &-imageContainer {
      max-height: 300px;
    }

  }
}
</style>
