<template>
  <section class="GallerySection">
    <h2 class="GallerySection-title">
      <span v-for="(word, widx) in title.split(' ')" :key="widx" :class="{firstWord: widx === 0}">
        {{ word }}
      </span>
    </h2>
    <div class="GallerySection-pack">
      <slot />
    </div>
  </section>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
.GallerySection {

  &-title {
    position: relative;
    padding: 0 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    & .firstWord {
      font-weight: bold;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 0;
      left: 0;
      bottom: -1em;
      border: 1px solid lightgray;
      box-shadow: 0 0 4px lightgray;
    }
  }

  @media screen and (min-width: 768px) {
    &-title {
      padding: 0;
      &::before {
        left: -10vw;
      }
    }

    &-pack {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
</style>
