<template>
  <section class="MediaGallery" :class="{isBig}" @mouseenter="focused = true" @mouseleave="focused = false">
    <div class="MediaGallery-imagesContent">
      <div
        v-for="(image, iidx) in gallery.images"
        :key="iidx"
        :class="{isActive: iidx === current}"
        class="MediaGallery-imageContent"
      >
        <div class="MediaGallery-imageContainer">
          <img :src="image.image" :alt="image.title" class="MediaGallery-image" @click="userAction">
        </div>
        <div class="MediaGallery-textContent" @click="userAction">
          <h2 class="MediaGallery-title">
            {{ image.title }}
          </h2>
          <div class="MediaGallery-description">
            <p>
              {{ image.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="MediaGallery-actions">
      <button class="MediaGallery-action" @click="goPrev()">&lt;</button>
      <button class="MediaGallery-action" @click="goNext()">&gt;</button>
    </div>
    <div :class="`MediaGallery-overlay ${ isOpen ? 'isOpen' : '' }`" @click="closeModal">
      <section class="MediaGallery-modal">
        <div class="MediaGallery-modalActions">
          <button
            class="MediaGallery-modalAction close"
            @click="closeModal"
          >
            x
          </button>
        </div>
        <img class="MediaGallery-modalImg" :src="currentImage.image" :alt="currentImage.title">
        <div class="MediaGallery-modalText">
          <h2> {{ currentImage.title }} </h2>
          <div>
            <strong>Código:</strong> {{ currentImage.code }}
          </div>
          <div>
            <strong>Autor:</strong> {{ getAuthor(currentImage) }}
          </div>
          <p> {{ currentImage.description }} </p>
          <div v-if="currentImage.subjects && currentImage.subjects.length">
            <strong>Materias:</strong>
            <span v-for="sub in currentImage.subjects" :key="sub" class="MediaGallery-pill" >
              {{ getSubjectName(sub) }}
            </span>
          </div>
        </div>
      </section>
    </div>
    <button class="MediaGallery-action isFree left" @click="goPrev()">
      <img src="~/static/arrow-prev.svg" alt="next">
    </button>
    <button class="MediaGallery-action isFree right" @click="goNext()">
      <img src="~/static/arrow-next.svg" alt="right">
    </button>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';

export default {
  name: 'MediaGallery',
  props: {
    gallery: {
      type: Object,
      default: () => ({})
    },
    isBig: {
      type: Boolean,
      default: false
    },
    isPreview: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      current: 0,
      isOpen: false,
      maxHeight: '0',
      focused: false,
    };
  },
  computed: {
    articles() {
      return this.gallery && this.gallery.images;
    },
    currentImage() {
      return this.gallery.images && this.gallery.images[this.current] || {};
    },
    ...mapState({
      indexedSubjects: ({subjects}) => subjects.indexedItems || {}
    })
  },
  created() {
    this.getSubjects();
    setInterval(() => {
      if (!this.isOpen && !this.focused && this.articles && this.articles.length) {
        this.goNext();
      }
    }, 10000);
  },
  mounted() {
    this.maxHeight = `${parseInt(this.$el.clientHeight * 0.6)}px`;
  },
  methods: {
    getSubjectName(subjectId) {
      return (this.indexedSubjects[subjectId] || {}).name || subjectId
    },
    getAuthor(image) {
      return (image.author || '').replace('Fotografía por ', '')
    },
    userAction() {
      if (this.isPreview) {
        this.$router.push({path: `/gallery/${this.gallery._id}`})
      }
      this.openModal();
    },
    openModal() {
      this.isOpen = true;
    },
    closeModal() {
      this.isOpen = false;
    },
    goNext() {
      if (this.articles && this.current < this.articles.length - 1) {
        this.current++;
      } else {
        this.current = 0;
      }
    },
    goPrev() {
      if (this.current > 0) {
        this.current--;
      } else {
        this.current = this.articles.length - 1;
      }
    },
    ...mapActions({
      getSubjects: 'subjects/loadSubjects'
    })
  }
};
</script>

<style lang="scss">
.MediaGallery {
  display: flex;
  flex-direction: column;
  width: 92%;
  margin-left: 3%;
  margin-bottom: 1em;
  position: relative;
  // min-height: 65vh;
  background-color: #000;
  color: #fff;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 0.8em rgb(10, 10, 10);

  &-pill {
    background-color: lightgray;
    display: inline-block;
    border-radius: 1em;
    padding: 0.2em 1em;
    margin: 0.1em;
  }

  &-imageContent {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    transition: all 0.2s ease;
    transform: scale(0.01);
    position: absolute;
    opacity: 0;
    z-index: -1;
    &.isActive {
      position: relative;
      transform: scale(1);
      opacity: 1;
      z-index: 100;
    }
  }

  &-imageContainer {
    min-height: 30vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-image {
    position: relative;
    max-width: 75vw;
    max-height: 50vw;
    margin: auto;
    z-index: 200;
  }

  &-title {
    text-align: center;
    font-size: 20px;
    max-height: 2.5em;
    margin: 0.5em 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-description {
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    & > p {
      margin: 0.5em 0;
    }
  }

  &-textContent {
    padding: 0.5em;
  }

  &-actions {
    position: relative;
    width: 100%;
    margin-bottom: 0.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    z-index: 50;
  }

  &-action {
    color: white;
    font-size: 2em;
    border-color: #000;
    background-color: rgba(127, 127, 127, 0.5);
    border-radius: 4px;
    &.isFree {
      background-color: transparent;
      display: none;
    }
  }

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1,1,1,0.8);
    opacity: 0;
    z-index: -5000;
    &.isOpen {
      opacity: 1;
      z-index: 5000;
    }
  }

  &-modal {
    position: relative;
    background-color: white;
    // #262729
    color: black;
    text-align: center;
    border-radius: 5px;
    width: 85%;
    margin: 5%;
    padding: 0.5em;
    max-height: 90vh;
    transition: all 0.4s ease;
    transform: scale(0.01);
  }

  .isOpen &-modal {
    top: 45%;
    transform: scale(1) translateY(-50%);
  }

  &-modalActions {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    z-index: 200px;
  }

  &-modalImg {
    margin: 5%;
    max-width: 70vw;
  }

  &-modalText {
    max-height: 50vh;
    overflow-y: scroll;
  }

  @media screen and (min-width: 768px) {
    border-radius: 3px;
    padding: 1em;
    flex-basis: calc(33% - 2em);
    margin: 1em;
    &.isBig {
      margin-left: 4%;
      height: 700px;
    }
    &-imageContainer {
      min-height: 540px;
    }
    &-image {
      max-width: 800px;
      max-height: 540px;
    }
    &-actions {
      height: 100px;
      justify-content: space-between;
      width: calc(100% - 2em);
      margin: 0 1em;
    }
    &-action {
      &.isFree {
        display: inline-block;
        position: absolute;
        top: 50%;
        z-index: 100;
        &.left {left: 0.5em}
        &.right {right: 0.5em}
      }
    }
    &.isSmall &-imageContainer {
      min-height: 300px;
    }
    &.isSmall &-image {
      max-width: 300px;
      max-height: 200px;
    }
    &-actions {
      display: none;
    }
    &-modalImg {
      max-width: 50vw;
      max-height: 50vh;
    }
  }

  @media screen and (min-width: 1024px) {
    &-modal {
      padding: 1em 1em 2em;
      width: 80vw;
      margin-left: 10vw;
    }

    .isOpen &-modal {
      top: 40%;
      transform: scale(1) translateY(-50%);
    }
  }
}
</style>
