<template>
  <nav class="NavigationMenu" :class="{isExpanded: isExpanded, isSearching: isSearching}">
    <div class="NavigationMenu-reference">
      <button class="NavigationMenu-button" @click.prevent="collapse()">
        <i class="fa" :class="{'fa-angle-left': showMenuButton, 'fa-bars': !showMenuButton}"></i>
      </button>
      <img class="NavigationMenu-logo" :src="logoURL" alt="Logo" />
    </div>
    <ul class="NavigationMenu-menuItems">
      <li
        class="NavigationMenu-menuItem"
        :class="{isProduct: menuItem.type === 'product', isHiddenT: menuItem.type === 'product'}"
        v-for="menuItem in menuItems"
        :key="menuItem.name"
      >
        <a class="NavigationMenu-link" :href="menuItem.link || '#'">{{ menuItem.name }}</a>
      </li>
      <li
        class="NavigationMenu-menuItem isHiddenM"
      >
        <a v-show="productMenuItems.length" href="#" class="NavigationMenu-showMore" @click.prevent="isMoreOpen = !isMoreOpen">More</a>
      </li>
    </ul>
    <ul class="NavigationMenu-moreContainer" :class="{isOpen: isMoreOpen}">
      <li
        class="NavigationMenu-moreItem"
        :class="{isProduct: menuItem.type === 'product', isHidden: menuItem.type !== 'product'}"
        v-for="menuItem in productMenuItems"
        :key="menuItem.name"
      >
        <a class="NavigationMenu-link" href="#">{{ menuItem.name }}</a>
      </li>
    </ul>
    <Search :on-change="notifyButtonChange" :close-search="closeSearch" />
  </nav>
</template>

<script>
import { mapState } from 'vuex';
import Search from '@/components/Search.vue';

export default {
  name: 'NavigationMenu',
  props: {
    logoURL: {
      type: String,
      default: '/assets/logo.png'
    }
  },
  components: {
    Search,
  },
  data() {
    return {
      isExpanded: false,
      isSearching: false,
      closeSearch: false,
      isMoreOpen: false,
    };
  },
  computed: {
    ...mapState({
      menuItems: ({ menuItems }) => menuItems,
      commonMenuItems: ({ menuItems }) => menuItems
        .filter(menuItem => menuItem.type !== 'product'),
      productMenuItems: ({ menuItems }) => menuItems
        .filter(menuItem => menuItem.type === 'product'),
    }),
    showMenuButton() {
      return this.isSearching || this.isExpanded;
    },
  },
  mounted() {},
  methods: {
    notifyButtonChange(isSearching) {
      this.isSearching = isSearching;
    },
    collapse() {
      if (this.isSearching) {
        this.isSearching = !this.isSearching;
        this.closeSearch = !this.closeSearch;
      } else {
        this.isExpanded = !this.isExpanded;
      }
    },
  },
};
</script>

<style lang="scss">
$transition-time: 0.3s;

.NavigationMenu {
  font-family: 'Poppins', sans-serif;
  position: relative;
  transition: box-shadow $transition-time ease;

  &-reference {
    width: 100%;
    background-color: #fff;
    text-align: center;
  }

  &-button {
    position: absolute;
    background-color: white;
    border: none;
    left: 0.5em;
    top: 0.5em;
    font-size: 1.5em;
    width: 35px;
    height: 40px;
  }

  &-logo {
    width: 240px;
    width: 60vw;
    height: auto;
  }

  &-menuItems {
    position: absolute;
    background-color: #fff;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100vw;
    max-height: 0;
    transition: all $transition-time ease-in-out;
    overflow-y: hidden;
    z-index: 5000;
  }

  &-menuItem {
    padding: 0.5em 0;
    border-top: 1px solid #67676780;
    text-align: center;
    margin: 0 4em;
    &:first-child {
      border-top: none;
    }
    &.isProduct {
      border-top: 2px solid white;
      background-color: #c4c4c4;
      margin: 0;
    }
  }

  &-link {
    font-weight: bold;
    color: black;
    font-size: 14px;
    line-height: 21px;
    line-height: 100%;
    &,
    &:active,
    &:focus,
    &:visited {
      text-decoration: none;
    }
  }

  &-showMore,
  &-moreContainer {
    display: none;
  }

  & .isHidden {
    display: none;
  }
  & .isHiddenM {
    display: none;
  }

  @media screen and (min-width: 768px){
    --logo-size: 10em;
    --bg-top: #35A8E0;
    --bgcolor: #E5007E;
    height: calc(var(--logo-size) - 0.6em);

    &-moreContainer {
      list-style: none;
      background-color: var(--bgcolor);
      z-index: 200;
    }
    &-moreItem {
      padding: 0.5em;
      text-align: center;
    }
    &-button {
      display: none;
    }
    &-reference {
      background-color: var(--bg-top);
      max-height: 100px;
      text-align: left;
    }
    &-logo {
      max-width: var(--logo-size);
      max-height: var(--logo-size);
      margin: 0.5em 2em;
      width: 80px;
    }
    &-menuItems {
      max-height: max-content;
      display: flex;
      align-items: center;
      background-color: var(--bgcolor);
      box-shadow: 0 4px 4px rgba(1,1,1,0.4);
      height: 50px;
      width: 100%;
      box-sizing: border-box;
    }
    &-menuItem {
      padding: 0;
      margin: 0.5em;
      font-size: 14px;
      font-weight: 400;
      background-color: transparent;
      border-top: none;
    }
    &-link {
      color: white;
      font-size: 12px;
    }
    &-showMore {
      display: inline-block;
    }
    & .isHiddenT {
      display: none;
    }
    & .isHiddenM {
      display: inline-block;
    }
    &-moreContainer {
      position: absolute;
      border: 1px solid var(--bgcolor);
      right: 10%;
      top: 90%;
      &.isOpen {
        display: inline-block;
        box-shadow: 0 0 5px black;
      }
    }
  }
  @media screen and (min-width: 1024px){
    &-menuItems {
      padding: 0 var(--logo-size);
    }
    // &-moreContainer {
    //   right: var(--logo-size);
    // }
  }
}

@mixin overlay() {
  &::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: -1;
  }
}

.isExpanded {
  &.NavigationMenu {
    width: 100%;
    position: fixed;
    @include overlay();
    z-index: 2000;
  }
  .NavigationMenu {
    &-menuItems {
      max-height: 100vh;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}
.isSearching {
  &.NavigationMenu {
    width: 100%;
    position: fixed;
    @include overlay();
    z-index: 2000;
  }
}
</style>
