<template>
  <section class="Search" :class="{isSearching: isSearching}">
    <div class="Search-criterias">
      <div class="Search-criteria">
        <input class="Search-criteriaInput" type="text" placeholder="lugar" />
      </div>
      <div class="Search-criteria">
        <input class="Search-criteriaInput" type="text" placeholder="fecha" />
      </div>
      <div class="Search-criteria">
        <input class="Search-criteriaInput" type="text" placeholder="categoría" />
      </div>
      <div class="Search-criteria">
        <input class="Search-criteriaInput" type="text" placeholder="nombre del evento" />
      </div>
      <div class="Search-criteria">
        <button class="Search-criteriaButton">
          Buscar
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
    <div class="Search-indicator">
      <button class="Search-button" @click.prevent="toggleSearchMenu">
        <i class="fa fa-search"></i> ¿qué buscas?
      </button>
      <div class="Search-space"></div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Search',
  props: {
    onChange: Function,
    closeSearch: Boolean,
  },
  watch: {
    closeSearch() {
      this.isSearching = false;
    },
  },
  data() {
    return {
      isSearching: false,
    };
  },
  methods: {
    toggleSearchMenu() {
      this.isSearching = !this.isSearching;
      if (this.onChange) {
        this.onChange(this.isSearching);
      }
    },
  },
};
</script>

<style lang="scss">
.Search {
  --logo-size: 10em;
  --bg-top: #35A8E0;
  --bgcolor: #E5007E;

  position: relative;
  transition: all 0.2s ease;

  &-indicator {
    display: flex;
    position: relative;
    z-index: 100;
  }

  &-button,
  &-space {
    width: 50%;
    height: 30px;
  }

  &-button {
    border: none;
    background-color: #dadada;
    text-transform: uppercase;
    font-weight: 500;
    outline: none;
  }

  &-space {
    background-color: var(--bgcolor);
  }

  &-criterias {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    overflow-y: hidden;
    max-height: 0;
    z-index: 400;
    transition: all 0.2s ease;
  }

  .isSearching &-criterias {
    max-height: 100vh;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &-criteria {
    padding: 0.5em 0;
    text-align: center;
  }

  &-criteriaInput {
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    width: 80%;
    height: 35px;
  }

  &-criteriaButton {
    background: #f43127;
    border: 2px solid #f43127;
    box-sizing: border-box;
    color: white;
    width: 90%;
    height: 40px;
    margin-bottom: 0.5em;
  }

  @media screen and (min-width: 768px){
    background-color: #31A4AC;
    &-space {
      display: none;
    }
    // &-button {
    //   width: max-content;
    // }
    // &-criterias {
    //   max-height: max-content;
    //   width: initial;
    //   position: relative;
    // }
  }
}
</style>
