<template>
  <section class="Sponsors">
    <div v-for="(section, idx) in sections" :key="idx" class="Sponsors-row">
      <span
        :class="`Sponsors-title ${idx===sections.length - 1 ? 'last' : ''}`"
      >
        {{ section.title }}
      </span>
      <div class="Sponsors-list">
        <img
          v-for="(organization, idx) in section.organizations" :key="idx"
          class="Sponsors-logo"
          :src="organization.image"
          :alt="organization.name"
        />
      </div>
    </div>
  </section>
</template>
<script>
export default {
  name: "Sponsors",
  props: {
    sections: {
      type: Array,
      default: () => []
    }
  }
}
</script>
<style lang="scss">
.Sponsors {
  position: relative;
  padding: 1em 0.5em;

  &::before {
    content: '';
    position: absolute;
    border-top: 1px solid gray;
    left: 15%;
    top: 0;
    width: 70%;
  }

  &-row {
    padding: 0.5em 5vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &.isExtended {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &-title {
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: bold;
  }

  &-list {
    min-width: 40%;
    display: flex;
    justify-content: space-between;
    .isExtended & {
      width: 100%;
    }
  }

  &-logo {
    max-width: 4em;
    max-height: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin-left: 10%;

    &-row {
      display: block;
      flex-basis: calc(50% - 5em);
    }
    &-title {
      font-size: 15px;
      font-weight: bold;
      display: block;
      margin-bottom: 0.5em;
      &.last {
        text-align: center;
      }
    }
    &-logo {
      max-height: 4em;
      max-width: 8em;
      margin-right: 1em;
    }
  }
}
</style>
