<template>
  <section class="Site">
    <div class="Site-content">
      <media-gallery :gallery="gallery" :is-big="true" :is-preview="false" />
      <gallery-section title="Más galerías">
        <gallery-link
          v-for="gallery in galleries"
          :key="gallery._id"
          :gallery="gallery"
        />
      </gallery-section>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from "vuex";
import MediaGallery from "@/components/MediaGallery.vue";
import GallerySection from "@/components/GallerySection.vue";

export default {
  components: {
    MediaGallery,
    GallerySection,
  },
  computed: {
    ...mapState({
      gallery: ({ galleries }) => galleries.item,
      galleries: ({galleries}) => galleries.items
        .filter(({status}) => status !== 'private')
    }),
  },
  created() {
    this.loadGallery(this.$route.params.id);
  },
  methods: {
    ...mapActions({
      loadGallery: "galleries/loadGallery",
      getGalleries: 'galleries/loadGalleries'
    }),
  },
};
</script>

<style>
</style>
