<template>
  <section class="Site">
    <div class="Site-content">
      <media-gallery :gallery="mainGallery" :is-big="true" :is-preview="true" />
      <gallery-section v-for="(section, sidx) in sections" :key="sidx" :title="section">
        <gallery-link v-for="gallery in galleries" :key="gallery._id" :gallery="gallery" />
      </gallery-section>
    </div>
  </section>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import NavigationMenu from '@/components/NavigationMenu.vue';
import Footer from '@/components/Footer.vue';
import Sponsors from '@/components/Sponsors.vue';
import Carousel from '@/components/Carousel.vue';
import MediaGallery from '@/components/MediaGallery.vue';
import GalleryLink from '@/components/GalleryLink.vue';
import GallerySection from '@/components/GallerySection.vue';
import HorizontalLinks from '@/components/HorizontalLinks.vue';
import VerticalLinks from '@/components/VerticalLinks.vue';
import FloatingSocialNetworks from '@/components/FloatingSocialNetworks.vue';

export default {
  name: 'Index',
  components: {
    Carousel,
    Footer,
    FloatingSocialNetworks,
    HorizontalLinks,
    MediaGallery,
    GallerySection,
    GalleryLink,
    NavigationMenu,
    Sponsors,
    VerticalLinks,
  },
  data() {
    return {
      sections: [
        'Más visitadas',
        'Recientes',
        'Postales Plan C',
      ],
      galleryNumber: -1
    };
  },
  computed: {
    mainGallery() {
      if (this.galleryNumber > 0) {
        return this.galleries[this.galleryNumber];
      }
      return {};
    },
    ...mapState({
      galleries: ({galleries}) => galleries.items
        .filter(({status}) => status !== 'private')
    })
  },
  created() {
    this.getGalleries().then((gs) => {
      this.galleryNumber = parseInt(Math.random() * gs.length, 10);
    });
  },
  methods: {
    ...mapActions({
      getGalleries: 'galleries/loadGalleries'
    })
  }
};
</script>

<style lang="scss">
.NavigationMenu {
  .Header & &-logo {
    height: calc(100px - 1em);
    width: auto;
  }
  @media screen and (min-width: 768px) {

  }
}
.Site {
  &-content {
    margin-top: 2em;
  }
  // &-contentSection {}
  &-contentSectionTitle {
    position: relative;
    padding: 0 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: Poppins;
    font-style: normal;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    & .firstWord {
      font-weight: bold;
    }
    &::before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 0;
      left: 0;
      bottom: -1em;
      border: 1px solid lightgray;
      box-shadow: 0 0 4px lightgray;
    }
  }

  @media screen and (min-width: 768px) {
    &-content {
      max-width: 80vw;
      margin-left: 10vw;
      overflow-x: hidden;
    }

    &-contentSectionTitle {
      padding: 0;
      &::before {
        left: -10vw;
      }
    }

    &-galleryPack {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
}
</style>
