<template>
  <div class="Archive">
    <div class="Archive-header">
      <div class="Archive-reference">
        <div class="Archive-titleBold">Todo nuestro</div>
        <div class="Archive-titleBig">Archivo</div>
        <div class="Archive-light">Indice general</div>
      </div>
    </div>
    <div class="Archive-content">
      <div
        v-for="(image, iidx) in images"
        :key="iidx"
        class="Archive-imageLink"
      >
        <div class="Archive-imageContainer">
          <img :src="image.image" :alt="image.title" class="Archive-image" />
        </div>
        <div class="Archive-textContainer">
          <div class="Archive-text">
            <div>
              {{ image.code }}
            </div>
            <div>
              {{ image.title }}
            </div>
            <div>
              {{ image.author }}
            </div>
          </div>
          <a class="Archive-actions" :href="`/archive/${image._id}`">
            ver toda la ficha
            <img class="Archive-actionIcon" src="~/static/blue-arrow.svg" alt="go">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  computed: {
    ...mapState({
      images: ({ images }) => images.items,
    }),
  },
  created() {
    this.loadImages();
  },
  methods: {
    ...mapActions({
      loadImages: "images/loadImages",
    }),
  },
};
</script>

<style lang="scss">
.Site {
  &-content {
    margin-top: 2em;
  }

  @media screen and (min-width: 768px) {
    &-content {
      max-width: 80vw;
      margin-left: 10vw;
      overflow-x: hidden;
    }
  }
}

.Archive {
  max-width: 80vw;
  margin-left: 10vw;
  overflow-x: hidden;

  &-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &-text {
    border-bottom: 2px solid #000;
  }

  &-imageLink {
    box-shadow: 0 2px 2px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &-actions {
    font-size: 10px;
    padding: 0.1em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
  }
  &-actionIcon {
    padding-top: 5px;
    max-height: 15px;
  }

  &-text {
    padding: 0.3em 0;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
  }

  &-imageContainer {
    max-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  &-image {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 150vw;
    transition: all 0.2s ease-in-out;
  }

  &-header {
    position: relative;
    margin-left: 1.5em;
    margin-bottom: 2em;
    &::before {
      content: '';
      position: absolute;
      width: 100%;
      border: 1px solid gray;
      bottom: -1em;
      left: -0.8em;
    }
  }

  &-titleBold {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 39px;
  }

  &-titleBig {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 72px;
  }

  &-light {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
  }

  @media screen and (min-width: 768px) {
    &-imageLink {
      flex-basis: calc(14%);
      max-width: 14%;
      margin: 0.5em;
    }

    &-imageContainer {
    }
  }

  @media screen and (min-width: 1024px) {
    flex-basis: calc(33%);

    &-imageContainer {
      max-height: 100px;
    }

    &-image {
      max-width: 20vw;
    }
  }
}
</style>
