<template>
  <main>
    <header class="Header">
      <NavigationMenu />
    </header>
    <br>
    <FloatingSocialNetworks />
    <nuxt />
    <Sponsors />
    <Footer />
  </main>
</template>

<script>

import NavigationMenu from '@/components/NavigationMenu.vue';
import Footer from '@/components/Footer.vue';
import Sponsors from '@/components/Sponsors.vue';
import FloatingSocialNetworks from '@/components/FloatingSocialNetworks.vue';

export default {
  components: {
    Footer,
    FloatingSocialNetworks,
    NavigationMenu,
    Sponsors,
  },
  data() {
    return {};
  },
};
</script>

<style lang="scss">
body {
  font-family: Roboto;
}
</style>
