<template>
  <main>
    <header class="Header">
      <NavigationMenu logoURL="assets/avc.png" />
    </header>
    <div class="RouterContainer">
      <nuxt />
      <Sponsors :sections="sponsors" />
    </div>
    <FloatingSocialNetworks />
    <Footer />
  </main>
</template>

<script>

const sponsors = [
  {
    title: 'en concertación con',
    organizations: [
      {
        image: 'assets/logo_mincultura.png',
        name: 'Proyecto ciudad Visual'
      },
      {
        image: 'assets/logo_alcaldia.png',
        name: 'Ciudad Latente'
      },
    ]
  },
  {
    title: 'un proyecto de',
    organizations: [
      {
        image: 'assets/logo_corp.png',
        name: 'Ciudad Latente'
      },
      {
        image: 'assets/logo_avc.png',
        name: 'Proyecto ciudad Visual'
      },
      {
        image: 'assets/logo_fc.png',
        name: 'Fundación cultura para el desarrollo'
      },
    ]
  },
  {
    title: 'nuestros aliados',
    organizations: [
      {
        image: 'assets/logoAGNC.png',
        name: 'Ciudad Latente'
      },
      {
        image: 'assets/logoMaestriaHistoria.png',
        name: 'Proyecto ciudad Visual'
      },
      {
        image: 'assets/logo_fc.png',
        name: 'Fundación cultura para el desarrollo'
      },
    ]
  }
];

export default {
  data() {
    return {
      sponsors
    };
  },
};
</script>

<style lang="scss">
body {
  font-family: Roboto;
}
.RouterContainer {
  margin-top: 2em;
}
</style>
