<template>
  <section class="Carousel">
    <div ref="slidesContainer" class="Carousel-imagesContainer" :class="{isSmall: isSmall}">
      <div
        v-for="(elm, idx) in contentItems"
        :key="idx"
        :class="{isActive: idx === current}"
        class="Carousel-imageContainer"
        @click="goTo(elm)"
      >
        <picture class="Carousel-image" :style="{'background-image': `url(${elm.img})`}">
          <img class="Carousel-imageHidden" :src="elm.img" :alt="elm.image" />
        </picture>
        <span v-if="elm.label" class="Carousel-imageLabel">
          <i class="fa" :class="getIcon(elm)" />
          {{ getLabel(elm.label) || elm.label }}
        </span>
        <div class="Carousel-textWrapper">
          <h3
            v-if="elm.title"
            :class="{isAlone: !elm.place || !elm.time}"
            class="Carousel-title"
          >{{ elm.title }}</h3>
          <div v-if="elm.place" class="Carousel-locationInfo">
            <label class="Carousel-placeName">lugar: {{ elm.place }}</label>
            <label class="Carousel-time">hora: {{ getTime(elm.time) }}</label>
          </div>
        </div>
      </div>
    </div>
    <div class="Carousel-bullets">
      <span
        v-for="(elm, idx) in contentItems"
        :key="idx"
        :class="{isActive: idx === current}"
        class="Carousel-bullet"
        @click="scrollTo(idx)"
      />
    </div>
  </section>
</template>

<script>
const ICONS = {
  music: 'fa-play-circle-o',
  dance: 'fa-music',
  cine: 'fa-video-camera',
  live: 'fa-play-circle-o',
};

const LABELS = {
  music: 'MúsicaC',
  dance: 'DanzaC',
  cine: 'CineC',
  live: 'EnVivoC',
};

export default {
  name: 'Carousel',
  props: {
    contentItems: {
      type: Array,
      default: () => [],
    },
    isSmall: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      lastChange: null,
      current: 0,
      pauseAnimation: false,
    };
  },
  mounted() {
    setInterval(() => {
      const now = new Date();
      if (this.pauseAnimation) {
        return;
      }
      if (this.$el.clientWidth > 767) {
        return;
      }
      if (now.getTime() - this.lastChange.getTime() > 5000) {
        const next = (this.current % this.contentItems.length) + 1;
        this.scrollTo(next === this.contentItems.length ? 0 : next);
      }
    }, 500);
    this.lastChange = new Date();
    this.$el
      .querySelector('.Carousel-imagesContainer')
      .addEventListener('scroll', evt => {
        this.current = Math.ceil(
          evt.target.scrollLeft / document.body.clientWidth
        );
      });
  },
  methods: {
    goTo(element) {
      this.$router.push({path:`/details/${element.slug}`});
    },
    getLabel(label) {
      return LABELS[label];
    },
    getIcon(elm) {
      return ICONS[elm.label];
    },
    getTime(time) {
      const hours = time.getHours();
      const minutes = time.getMinutes();
      const ampm = hours >= 12 ? 'pm' : 'am';
      return (
        `${hours % 12}`.padStart(2, '0') +
        ':' +
        `${minutes} ${ampm}`.padStart(2, '0')
      );
    },
    scrollTo(idx) {
      if (this.$refs.slidesContainer) {
        const width = this.$refs.slidesContainer.clientWidth;
        this.$refs.slidesContainer.scroll(width * idx, 0);
        this.lastChange = new Date();
        this.current = idx;
      }
    },
  },
};
</script>

<style lang="scss">
.Carousel {
  &-bullets {
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0.2em 0 1em 0;
  }
  &-bullet {
    display: inline-block;
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin: 0 0.5em;

    &.isActive {
      background-color: #51ede8;
    }
  }

  &-imageContainer {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 100%;
    height: 60vw;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  &-image {
    width: 100%;
    height: 100%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: center;
    background-size: cover;

    &Hidden {
      width: 0;
      height: 0;
    }
  }

  &-imageLabel {
    position: absolute;
    background-color: #f43127;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 1.5em;
    padding: 0.3em 0.8em;
    z-index: 2000;
    left: 0;
    top: 1em;

    display: flex;
    justify-content: center;
    align-items: center;

    & .fa {
      font-size: 2em;
      margin-right: 0.2em;
    }
  }

  &-title {
    position: absolute;
    color: #fff;
    font-family: Poppins;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    margin: 0 1em;
    top: 40%;
    -webkit-line-clamp: 4;
    text-align: center;
    margin: 0 0.3em;
    &.isAlone {
      top: 65%;
    }
  }

  &-textWrapper {
    position: absolute;
    display: flex;
    align-items: flex-start;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1em;
  }

  &-imagesContainer {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    &.isSmall {
      margin: 0 1em;
    }
  }

  &-locationInfo {
    position: absolute;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    bottom: 1em;
    color: white;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-transform: uppercase;
  }

  @media screen and (min-width: 768px) {

    &-imagesContainer {
      width: 90%;
      margin: 0 5%;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-content: space-evenly;

      &.isSmall {
        margin: auto;
      }
    }

    &-imageContainer {
      width: 35vw;
      height: 30vh;
      background-color: #fff;
      border-bottom: 2px solid gray;
      align-items: flex-start;
      margin: 0 0.1em 0.4em 0.1em;
      box-shadow: 0 2px 5px gray;
    }

    &-textWrapper,
    &-locationInfo {
      color: black;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    &-locationInfo {
      margin: 0.1em 0;
      position: static;
    }

    &-title {
      position: static;
      color: black;
      margin: 0.1em 0;
    }

    &-image {
      height: 20vh;
    }

    &-locationInfo {
      color: black;
    }

    &-bullets {
      display: none;
    }

  }

  @media screen and (min-width: 1024px) {

    &-imageContainer {
      width: 20vw;
    }

  }

  /* width */
  ::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    width: 1px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    width: 1px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
    width: 1px;
  }

}

  /* width */
  ::-webkit-scrollbar {
    width: 1px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    width: 3px;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent;
    width: 3px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent;
    width: 3px;
  }

</style>
