<template>
  <section class="FloatingSocialNetworks">
    <a
      class="FloatingSocialNetworks-link"
      target="_blank"
      v-for="link in links"
      :key="link.url"
      :href="link.url"
    >
      <i :class="`fa fa-${link.icon}`"></i>
    </a>
  </section>
</template>

<script>
export default {
  name: 'FloatingSocialNetworks',
  data() {
    return {
      links: [
        {
          url: 'https://facebook.com',
          icon: 'facebook',
        },
        {
          url: 'https://instagram.com',
          icon: 'instagram',
        },
        {
          url: 'https://whatsapp.com',
          icon: 'whatsapp',
        },
        {
          url: 'mail://paco@gmail.com',
          icon: 'envelope-o',
        },
      ],
    };
  },
};
</script>

<style lang="scss">
.FloatingSocialNetworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 128, 129, 0.8);
  max-width: 1.4em;
  font-size: 22px;
  padding: 0.5em 0.2em;
  border-top-right-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 500;

  &-link {
    padding: 0.3em;
    &,
    &:focus,
    &:active,
    &:visited {
      color: white;
    }
  }
}
</style>
