<template>
  <section class="HorizontalLinks">
    <ul class="HorizontalLinks-items">
      <li v-for="link in links" :key="link.name" class="HorizontalLinks-item">
        <a class="HorizontalLinks-link" href="#">
          <div class="HorizontalLinks-box">
            <i :class="`fa fa-${link.icon}`"></i>
          </div>
          <div class="HorizontalLinks-title">{{ link.name }}</div>
        </a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'HorizontalLinks',
  props: ['links'],
};
</script>

<style lang="scss">
.HorizontalLinks {
  &-items {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
  }
  &-link {
    color: black;
    text-decoration: none;
  }
  &-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    background-color: #f43127;
    color: white;
    font-size: 4em;
  }
  &-title {
    text-align: center;
    padding: 0.4em 0 1em 0;
    text-decoration: underline;
    font-size: 13px;
  }
}
</style>
