<template>
  <div
    class="MediaGallery"
  >
    <div class="MediaGallery-articlesContainer">
      <article
        v-for="(article, idx) in articles"
        :key="idx"
        v-show="idx === current" class="MediaGallery-article"
        :style="`height: ${maxHeight}px`"
      >
        <div class="MediaGallery-actions">
          <button class="MediaGallery-action" @click="goPrev()">&lt;</button>
          <button class="MediaGallery-action" @click="goNext()">&gt;</button>
        </div>
        <img
          class="MediaGallery-image"
          :src="article.image"
          :alt="article.title"
          :class="{invisible: invisible}"
          :style="`max-height: ${maxHeight}px`"
          @click="openModal"
        />
      </article>
    </div>
    <div class="MediaGallery-textContent">
      <h2 class="MediaGallery-title"> {{ currentTitle }} </h2>
      <div class="MediaGallery-description"> {{ currentDescription }} </div>
    </div>
    <div :class="`MediaGallery-overlay ${ isOpen ? 'isOpen' : '' }`">
      <section class="MediaGallery-modal">
        <div class="MediaGallery-modalActions">
          <button
            class="MediaGallery-modalAction close"
            @click="closeModal"
          >
            x
          </button>
        </div>
        <img class="MediaGallery-modalImg" :src="currentImage" :alt="currentTitle">
        <div class="MediaGallery-modalText">
          <h2> {{ currentTitle }} </h2>
          <p> {{ currentDescription }} </p>
        </div>
      </section>
    </div>
  </div>
</template>

<script>
export default {
  name: 'MediaGallery',
  props: {
    articles: {
      type: Array,
      default: () => []
    }
  },
  data() {
    return {
      current: 13,
      isOpen: false,
      currentTitle: '',
      currentImage: '',
      currentDescription: '',
      maxHeight: 0,
      invisible: true
    };
  },
  watch: {
    current(newVal, oldVal) {
      const a = this.articles[newVal];
      this.currentTitle = a.title;
      this.currentImage = a.image;
      this.currentDescription = a.description;
    }
  },
  async created(){
    if (process.client && this.articles.length) {
      const first = this.articles[this.current];
      await fetch(first.image, {
        mode: 'no-cors'
      });
      this.invisible = false;
      this.currentTitle = first.title;
      this.currentImage = first.image;
      this.currentDescription = first.description;
      this.articles.forEach(async (article) => {
        const response = await fetch(article.image, {
          mode: 'no-cors'
        });
        if (response.ok) {
          const blob = await response.blob();
          const objectURL = URL.createObjectURL(blob);
          const img = new Image();
          img.src = objectURL;
        }
      });
    }
  },
  mounted() {
    this.maxHeight = parseInt(this.$el.clientHeight * 0.8);
  },
  methods: {
    openModal() {
      console.log('Open Modal')
      this.isOpen = true;
    },
    closeModal() {
      this.isOpen = false;
    },
    goNext() {
      this.invisible = true;
      if (this.current < this.articles.length - 1) {
        this.current++;
      } else {
        this.current = 0;
      }
      setTimeout(() => this.invisible = false, 500);
    },
    goPrev() {
      this.invisible = true;
      if (this.current > 0) {
        this.current--;
      } else {
        this.current = this.articles.length - 1;
      }
      setTimeout(() => this.invisible = false, 500);
    }
  }
};
</script>

<style lang="scss">
.MediaGallery {
  width: 94%;
  margin-left: 3%;
  position: relative;
  min-height: 60vh;
  background-color: #000;
  overflow: hidden;

  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(1,1,1,0.4);
    opacity: 0;
    z-index: -5000;
    &.isOpen {
      opacity: 1;
      z-index: 5000;
    }
  }

  &-modal {
    position: relative;
    background-color: white;
    border-radius: 5px;
    width: 90%;
    margin: 5%;
    padding: 0.5em;
  }

  &-modalActions {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    z-index: 200px;
  }

  &-modalImg {
    width: 90%;
    margin: 5%;
  }

  &-articlesContainer {
    padding: 1em 0;
  }

  &-image {
    position: relative;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.25s ease-in-out;
    z-index: 400;

    &.invisible {
      opacity: 0;
    }
  }

  &-textContent {
    color: white;
    position: absolute;
    bottom: 1em;
    left: 1em;
    width: calc(100% - 2em);
  }

  &-title {
    text-align: center;
  }

  &-actions {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    z-index: 100;
  }

  &-action {
    color: white;
    font-size: 3em;
    background-color: rgba(127, 127, 127, 0.8);
    border-radius: 4px;
  }

  @media screen and (min-width: 768px) {
    &-image {
      height: 100%;
      width: auto;
      max-width: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &-image {
      position: relative;
      height: auto;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

    &-actions {
      width: calc(100% - 1.4em);
      margin: 0 0.7em;
    }

    &-action {
      background-color: transparent;
    }

    &-modal {
      overflow-y: scroll;
      height: 90vh;
    }

    &-modalImg {
      max-width: 50vw;
      max-height: 50vh;
      width: auto;
      margin-left: 50%;
      transform: translateX(-50%);
    }

    &-modalText {
      text-align: center;
    }

  }
}
</style>
