<template>
  <section class="VerticalLinks">
    <ul class="VerticalLinks-items">
      <li v-for="link in links" :key="link.name" class="VerticalLinks-item">
        <a class="VerticalLinks-link" href="#">
          <div class="VerticalLinks-box" :style="{backgroundColor: link.color}">
            <div class="VerticalLinks-title">{{ link.name }}</div>
          </div>
        </a>
      </li>
    </ul>
  </section>
</template>

<script>
export default {
  name: 'VerticalLinks',
  props: ['links'],
};
</script>

<style lang="scss">
.VerticalLinks {
  &-items {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
  }
  &-link {
    color: black;
    text-decoration: none;
  }
  &-box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0.3em 5%;
    color: white;
  }
  &-title {
    text-align: center;
    padding: 0.3em;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: bold;
  }
}
</style>
